extends email 

block message
    .message
        p لقد طلبت استعادة كلمة المرور في مسجدي
        p إذا كانت ترغب بإعادة تعيين كلمة المرور يجب إدخال رمز التأكد للتحقق
        h3 رمز التأكد
        p.code #{code}